#chat {
    display: block;
    text-align: left;
    margin: auto;
    width: 400px;
    height: 300px;
    overflow: scroll;
    border: 20px solid cyan;
}

#wrapper {
    text-align: center;
}

#post-text {
    width: 300px;
}